*{
	margin: 0;
	padding: 0;
}

body{
	background: #444;
	color: white;
	min-height: 100vh;
}
h1{
	text-align: center;
	padding: 1rem;
}
.title{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0 6rem;
}
.title p{
	padding: 2rem;
	font-size: 20px;
	text-decoration: underline;
}
.container{
	display: flex;
	justify-content: center;

}
.visualise{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.bar{
	top: 0;
	width: 7px;
	background: cyan;
	margin: 0 5px;
	transition: 5s all ease-in;
}